<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gelecegiyazanlar.mervegulsah.engelsizmobil"
    android:versionCode="5"
    android:versionName="1.3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Kayit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Giris"
            android:theme="@style/AppTheme.LoginStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Anasayfa" />
        <activity android:name=".Post" />
        <activity android:name=".Profil" />
        <activity android:name=".EtkinlikDetay" />
        <activity
            android:name=".OnGiris"
            android:theme="@style/AppTheme.LoginStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GirisKullanici"
            android:theme="@style/AppTheme.LoginStyle" />
        <activity android:name=".AnasayfaDernek" />
        <activity android:name=".ProfilDernek"></activity>
    </application>

</manifest>